<ng-container *ngIf="bank.isReady">

  <ng-container *ngIf="closePopUp">

    <app-popup [popUpData]="popUpData" [indexOfCurrentMovie]="indexOfCurrentMovie" (closeActivePopUp)="closePopUp = $event"></app-popup>

  </ng-container>

  <div class="pageWrapper">

    <app-list-films [list]="bank.data" (popUpData)="popUp = $event" (indexOfCurrentMovie)="index = $event"></app-list-films>

    <app-pagination [currentPage]="currentPage" [numberOfPages]="bank.numberOfPages" [numberOfPosts]="bank.numberOfPosts"></app-pagination>

  </div>

</ng-container>