<ng-container *ngIf="bank.isReady">

  <ng-container *ngIf="popUp">

    <app-popup [popUpData]="popUpData" [listFilmsLength]="listFilmsData.length" [indexOfCurrentMovie]="indexCurrentMovie" (newIndexOfCurrentMovie)="newIndexCurrentMovie = $event" (closeActivePopUp)="popUp = $event"></app-popup>

  </ng-container>

  <div class="pageWrapper">

    <app-list-films [listFilms]="listFilmsData" (popUpData)="popUp = $event" (indexOfCurrentMovie)="indexOfCurrentMovie.next($event)"></app-list-films>

    <app-pagination [currentPage]="1" [numberOfPages]="numberOfPages" [numberOfPosts]="numberOfPosts"></app-pagination>

  </div>

</ng-container>